<%
   if journal
%>

<div id="change-history-<%= journal.id %>" style="text-align: right">
  <% if journal.note_history.present? %>
  <%
     history = journal.note_history
     author = history.user.name
     date = format_time(history.created_on)
  %>
  <p>
    <em>
      <%= l(:journal_notes_updated, author: author, date: date) %>
    </em>
    (<%=
        link_to(l(:label_view_diff),
                {
                  controller: :journal_notes_histories,
                  action: :diff,
                  journal_id: journal.id,
                  history_id: history.id,
                })
    %>)
  </p>
  <% end %> <!-- if -->

  <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
      document.getElementById('change-<%= journal.id %>')
        .appendChild(document.getElementById('change-history-<%= journal.id %>'));
    });
  </script>
</div>

<% end %> <!-- if -->
